		*{
		  margin: 0;
		  padding: 0;
		}
		
		h1::selection {
			background: transparent;
		}
		
		span::selection {
			background: transparent;
		}
		
		img::selection {
			background: transparent;
		}
		
		p::selection {
			background: transparent;
		}

		.wrapper{
		  position: absolute;
		  top: 70%;
		  left: 50%;
		  transform: translate(-50%,-50%);
		}

		ul{
		  list-style: none;
		  width: 550px;
		  height: 80px;
		}

		ul li{
		  float: left;
		  width: 75px;
		  height: 70px;
		  border: 3px solid #fff;
		  margin-right: 36px;
		  border-radius: 25px;
		  position: relative;
		  cursor: pointer;
		  transition: all 0.5s linear;
		}

		ul li:last-child{
		  margin-right: 0;
		}

		ul li .fa{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%,-50%);
		  color: #fff;
		  font-size: 30px;
		  transition: all 0.5s linear;
		}
		
		ul li img{
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%,-50%);
		  color: #fff;
		  font-size: 30px;
		  transition: all 0.5s linear;
		}

		ul li:hover{
		  background: #fff;
		  box-shadow: 0 0 30px 3px #fff;
		}

		ul li:hover .fa{
		  color: #f06060;
		}

		@media screen and (max-width: 640px){
		  .wrapper ul{
			  width: 100px;
		  }
		  .wrapper ul li{
			  margin-top: 20px;
		  }
		}
		
		#lightbox-container-image-box{
			background-color: black; /* это фон непосредственно под картинкой */
		}

		#lightbox-container-image-data-box {
			background-color: black; /* а это фон под надписями */
			opacity: 0;
		}
		
		#animation_img {
			display: none;
		}
		
		#animation_title {
			display: none;
		}
		
		#animation_second_title {
			display: none;
		}
		
		#animation_timer {
			
		}
		
		#animation_wrapper_1 {
			opacity: 0.001;
		}
		
		#animation_wrapper_2 {
			opacity: 0.001;
		}
		
		#animation_wrapper_3 {
			opacity: 0.001;
		}
		
		#animation_wrapper_4 {
			opacity: 0.001;
		}
		
		#animation_wrapper_5 {
			opacity: 0.001;
		}
		
		#animation_wrapper_6 {
			opacity: 0.001;
		}
		
		.cbalink {
			display: none;
		}
		
		.titles {
			
		}