		@-webkit-keyframes fade-in {   100% { opacity: 0; }   0% { opacity: 1; }   }
		@-moz-keyframes    fade-in {   100% { opacity: 0; }   0% { opacity: 1; }   }
		@-o-keyframes      fade-in {   100% { opacity: 0; }   0% { opacity: 1; }   }
		@keyframes         fade-in {   100% { opacity: 0; }   0% { opacity: 1; }   }
		 
		body {
		  -webkit-animation: fade-in 3s linear; /* Safari 4+ */
		  -moz-animation: fade-in 3s linear; /* Fx 5+ */
		  -o-animation: fade-in 3s linear; /* Opera 12+ */
		  animation: fade-in 3s linear; /* IE 10+, Fx 29+ */
		}