	.cssload-loader {
		width: 281px;
		height: 56px;
		line-height: 56px;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
		font-family: helvetica, arial, sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size:20px;
		color: rgb(206,66,51);
		letter-spacing: 0.2em;
	}
	.cssload-loader::before, .cssload-loader::after {
		content: "";
		display: block;
		width: 17px;
		height: 17px;
		background: rgb(206,66,51);
		position: absolute;
		animation: cssload-load 0.7s infinite alternate ease-in-out;
			-o-animation: cssload-load 0.7s infinite alternate ease-in-out;
			-ms-animation: cssload-load 0.7s infinite alternate ease-in-out;
			-webkit-animation: cssload-load 0.7s infinite alternate ease-in-out;
			-moz-animation: cssload-load 0.7s infinite alternate ease-in-out;
	}
	.cssload-loader::before {
		top: 0;
	}
	.cssload-loader::after {
		bottom: 0;
	}



	@keyframes cssload-load {
		0% {
			left: 0;
			height: 34px;
			width: 17px;
		}
		50% {
			height: 9px;
			width: 45px;
		}
		100% {
			left: 264px;
			height: 34px;
			width: 17px;
		}
	}

	@-o-keyframes cssload-load {
		0% {
			left: 0;
			height: 34px;
			width: 17px;
		}
		50% {
			height: 9px;
			width: 45px;
		}
		100% {
			left: 264px;
			height: 34px;
			width: 17px;
		}
	}

	@-ms-keyframes cssload-load {
		0% {
			left: 0;
			height: 34px;
			width: 17px;
		}
		50% {
			height: 9px;
			width: 45px;
		}
		100% {
			left: 264px;
			height: 34px;
			width: 17px;
		}
	}

	@-webkit-keyframes cssload-load {
		0% {
			left: 0;
			height: 34px;
			width: 17px;
		}
		50% {
			height: 9px;
			width: 45px;
		}
		100% {
			left: 264px;
			height: 34px;
			width: 17px;
		}
	}

	@-moz-keyframes cssload-load {
		0% {
			left: 0;
			height: 34px;
			width: 17px;
		}
		50% {
			height: 9px;
			width: 45px;
		}
		100% {
			left: 264px;
			height: 34px;
			width: 17px;
		}
	}
	.cssload{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}
	.indexload_animation{
		position: absolute;
		left: 0%;
		top: 0%;
		z-index: 99999;
		background-color: white;
	}
	